body{
    font-family: serif;
}

header{
    background-color: rgb(9, 9, 129);
    font-size: 16pt;
    padding-top: 1px;
    height: 80px;
}

main{
    position: relative;
    min-height: 100%
}

footer{
    background-color: rgb(9, 9, 129);
    height: 120px;
}

.bg-white{
    background-color: rgb(238, 235, 235);
}

.border-blk{
    border: 5px solid black;
    padding: 0;
}

.borderTop{
    border-top: 15px solid rgb(146, 177, 235);
    
}

.text{
    text-align: inherit;
}

.text-white{
    color: rgb(235, 229, 229);
}

.centerText{
    text-align: center;
}

.flexed{
    display: flex;
}

.whyImportant  {
    
    padding-left: 100px;
    margin-right: 1.5em;
    width: 70%;

}

.addSite{
    margin-right: 1.5em;
    width: 30%
}

.pAside{
    
    padding: 50px 0 0 0;
    margin-right: 30px;
    height: 200px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 50px;
}

.pLR{
    padding: 0px 50px;
    margin-left: 20px;
}

.relative{
    position: relative;
}

.img {
  margin-top: 10px;
  height: 120px;
  width: 160px;
}

.addText{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}